<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MacGen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MacGen.My.MySettings>
            <setting name="ViewerSetupLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RapidLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RapidPoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AxisLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AxisIndicator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMachine" serializeAs="String">
                <value>Mill</value>
            </setting>
            <setting name="SetupFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ViewFormSize" serializeAs="String">
                <value>750, 750</value>
            </setting>
            <setting name="Virgin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewsBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Viewports" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ViewerPrintMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewPrintScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ViewerOverlayFont" serializeAs="String">
                <value>Arial, 9pt</value>
            </setting>
            <setting name="ViewerShowExtraOverlayDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseMouseWheel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewerSelectionColor" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreFileWhitespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewerShowLimits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewerLimitsColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="EditorVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="EditorWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="EditorZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TouchMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PlayerOptionStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MotionColorRapid" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="MotionColorLinear" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="MotionColorCWArc" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="MotionColorCCWArc" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="ColorByMotionType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphicsDetailsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GraphicsDetailsSize" serializeAs="String">
                <value>400, 350</value>
            </setting>
        </MacGen.My.MySettings>
    </userSettings>
</configuration>
